.header{
    width: 100%;
    height: 10vh;
}

.header.flex{
    justify-content: space-around;
}

.header__nav__link-list{
    list-style: none;
}

.header__nav__link-list.flex{
    justify-content: space-between;
}

.header__nav__link{
    position: relative;
    margin-inline: 1.5rem;
    color: var(--text-auxiliar-color);
    font-weight: 600;
    transition: 0.3s;
}

.header__nav__link::after{
    content: "";
    left: 0;
    bottom: -4px;
    z-index: -1;
    position: absolute;
    background-color: var(--secundary-color-hover);
    width: 0%;
    height: 0.1rem;
    transition: 0.3s;
}

.header__nav__link:hover::after{
    width: 100%;
}

.header__nav__link:hover{
    color: var(--secundary-color-hover);
}

.header__btn{
    background-color: var(--axiliar-color);
    color: var(--principal-color);
    border-radius: 3rem;
    height: 4.5rem;
    min-width: 15rem;
    font-weight: bold;
    transition: 0.3s;
    margin-right: 1rem;
}

.header__btn:hover{
    background-color: var(--secundary-color-hover);
    color: var(--bc-axiliar-color);
}

.header__section__search-btn{
    cursor: pointer;
    background-color: var(--bc-color);
    border: none;
    margin: 0px 0.8rem;
    transition: 0.3s;
}

.header__section__search-btn:hover{
    color: #F21C4E;
}
