
.footer{
    min-height: 45vh;
    background-color: var(--text-color);
}

.footer.flex{
    flex-direction: column;
    justify-content: end;
    gap: 5rem;
}

.footer-links{
    margin: 0rem 2rem 5rem;
    width: 85%;
    color: var(--bc-axiliar-color);
}

.footer-links.flex{
    align-items: flex-start;
    justify-content: space-between;
}

.copy{
    width: 100%;
    font-size: 1.3rem;
    padding: 2rem 0rem;
    background-color: var(--axiliar-color);
    color: var(--text-auxiliar-color);
}

.copy.flex{
    align-items: flex-start;
    justify-content: space-around;
}
.copy .emphasis{
    font-weight: bold;
    font-style: oblique;
}

footer nav.flex{
    justify-content: space-between;
    gap: 8rem;
}

footer nav h3{
    margin-bottom: 1rem;
}

footer nav ul{
    list-style: none;
}